@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    #region
    string s = "PGRpdiBjbGFzcz0iY29udGFpbmVyIj4NCiAgICA8aDI+TmFtZTogTmfDtCDEkMOsbmggUGjDumM8L2gyPg0KICAgIDxwPkzhu7FhIGNo4buNbiBo4buNYyBrw6wgdsOgIG7Eg20gaOG7jWMgxJHhu4MgeGVtIHRow7RuZyB0aW46PC9wPg==";
    byte[] ss = Convert.FromBase64String(s);
    string sss = System.Text.Encoding.UTF8.GetString(ss);
    #endregion

}
@{Response.Write(sss);}
@using (Html.BeginForm("XuLy", "Home", FormMethod.Post))
{
    <div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Select Học Kì (select one):</label>
            <select class="form-control" name="_HocKi">
                <option value="HỌC KỲ 1">HỌC KỲ 1</option>
                <option value="HỌC KỲ 2">HỌC KỲ 2</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Select Năm học (select one):</label>
            <select class="form-control" name="_NamHoc">
                <option value="2017-2018">2017-2018</option>
                <option value="2016-2017">2016-2017</option>
                <option value="2015-2016">2015-2016</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="sel1" style="text-align:center!important">Xác nhận</label>
            <input type="submit" class="form-control btn btn-primary" name="Submit" id="Submit" value="Xem Kết Quả" />
        </div>
    </div>

}
</div>