@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Name: Ngô Đình Phúc</h2>
    <p>Lựa chọn học kì và năm học để xem thông tin:</p>
    @using (Html.BeginForm("XuLy", "Home", FormMethod.Post))
    {
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Select Học Kì (select one):</label>
                <select class="form-control" name="_HocKi">
                    <option value="HỌC KỲ 1">HỌC KỲ 1</option>
                    <option value="HỌC KỲ 2">HỌC KỲ 2</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1">Select Năm học (select one):</label>
                <select class="form-control" name="_NamHoc">
                    <option value="2017-2018">2017-2018</option>
                    <option value="2016-2017">2016-2017</option>
                    <option value="2015-2016">2015-2016</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="sel1" style="text-align:center!important">Xác nhận</label>
                <input type="submit" class="form-control btn btn-primary" name="Submit" id="Submit" value="Xem Kết Quả" />
            </div>
        </div>

    }
</div>