@using Baitap1_Server.Models;
@{

    ViewBag.Title = "XuLy";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    BaiTap DataResponts = new BaiTap();
    DataResponts = (BaiTap)ViewData["Data"];
    string TextToFile = (string)ViewBag.Destrip;
}
<div class="container">
    <br />
    <br />
    @if (!(DataResponts == null || TextToFile == null))
    {
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">  Điểm: <span class="badge">@DataResponts.DiemHK</span></h4>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive img-thumbnail" src="@DataResponts.LinkImg" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" style="font-size: 14px;">
                    <p>@TextToFile</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12"> <h1 class="text-center">404 Not Found</h1></div>
        </div>
    }
</div>